/* _content/BlazorApp3/Pages/DisplayPage.razor.rz.scp.css */
.TextStyle2[b-bg7gf7jof1] {
    color: #ffffff;
    text-shadow: 2px 2px 0px #bdbdbd;
}

.TextStyle3[b-bg7gf7jof1] { font-family: fantasy; }

body[b-bg7gf7jof1] {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header[b-bg7gf7jof1] {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav[b-bg7gf7jof1] {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul[b-bg7gf7jof1] {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li[b-bg7gf7jof1] {
    display: inline;
    margin-right: 20px;
}

nav a[b-bg7gf7jof1] {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main[b-bg7gf7jof1] {
    padding: 20px;
}

.featured[b-bg7gf7jof1] {
    background-color: #f8f8f8;
    padding: 20px;
}

.content[b-bg7gf7jof1] {
    margin-top: 20px;
}

.content[b-bg7gf7jof1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-container[b-bg7gf7jof1] {
    margin-top: 20px; /* Adjust the margin as needed */
}

/* _content/BlazorApp3/Pages/DivideTeamPage.razor.rz.scp.css */
#Border-Dotted[b-b2osv66iin]{border: 2px dotted}
#Border-Solid[b-b2osv66iin]{border: 1px solid; width: 70%; height: 70%}
#Border-Solid3px[b-b2osv66iin]{border: 3px solid #1a1e21}

.TextStyle2[b-b2osv66iin] {
    color: #ffffff;
    text-shadow: 2px 2px 0px #bdbdbd;
}

.TextStyle3[b-b2osv66iin] { font-family: fantasy; }

body[b-b2osv66iin] {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    zoom: 90%;
}

header[b-b2osv66iin] {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav[b-b2osv66iin] {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul[b-b2osv66iin] {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li[b-b2osv66iin] {
    display: inline;
    margin-right: 20px;
}

nav a[b-b2osv66iin] {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main[b-b2osv66iin] {
    padding: 20px;
}

.featured[b-b2osv66iin] {
    background-color: #f8f8f8;
    padding: 20px;
}

.content[b-b2osv66iin] {
    margin-top: 20px;
}



footer[b-b2osv66iin] {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 97%;
}
.content[b-b2osv66iin] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-container[b-b2osv66iin] {
    margin-top: 20px; /* Adjust the margin as needed */
}

html[b-b2osv66iin], body[b-b2osv66iin] {
    height: 100%
}

.wrapper[b-b2osv66iin] {
    height: auto;
    min-height: 100%;
    padding-bottom: 7px;
}

.home-container[b-b2osv66iin]{
    min-height: 900px;
}

body[b-b2osv66iin] {
    background: #e0e5ec;
}
h1[b-b2osv66iin] {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
}

p[b-b2osv66iin] {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
}
.frame[b-b2osv66iin] {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button[b-b2osv66iin] {
    margin: 20px;
}
.custom-btn[b-b2osv66iin] {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* 1 */
.btn-1[b-b2osv66iin] {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
}
.btn-1:hover[b-b2osv66iin] {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

/* 2 */
.btn-2[b-b2osv66iin] {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;

}
.btn-2[b-b2osv66iin]:before {
    height: 0%;
    width: 2px;
}
.btn-2:hover[b-b2osv66iin] {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


/* 3 */
.btn-3[b-b2osv66iin] {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}
.btn-3 span[b-b2osv66iin] {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-3[b-b2osv66iin]:before,
.btn-3[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3[b-b2osv66iin]:before {
    height: 0%;
    width: 2px;
}
.btn-3[b-b2osv66iin]:after {
    width: 0%;
    height: 2px;
}
.btn-3:hover[b-b2osv66iin]{
    background: transparent;
    box-shadow: none;
}
.btn-3:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-3:hover[b-b2osv66iin]:after {
    width: 100%;
}
.btn-3 span:hover[b-b2osv66iin]{
    color: rgba(2,126,251,1);
}
.btn-3 span[b-b2osv66iin]:before,
.btn-3 span[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3 span[b-b2osv66iin]:before {
    width: 2px;
    height: 0%;
}
.btn-3 span[b-b2osv66iin]:after {
    width: 0%;
    height: 2px;
}
.btn-3 span:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-3 span:hover[b-b2osv66iin]:after {
    width: 100%;
}

/* 4 */
.btn-4[b-b2osv66iin] {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-4:hover[b-b2osv66iin]{
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.btn-4 span[b-b2osv66iin] {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-4[b-b2osv66iin]:before,
.btn-4[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}
.btn-4[b-b2osv66iin]:before {
    height: 0%;
    width: .1px;
}
.btn-4[b-b2osv66iin]:after {
    width: 0%;
    height: .1px;
}
.btn-4:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-4:hover[b-b2osv66iin]:after {
    width: 100%;
}
.btn-4 span[b-b2osv66iin]:before,
.btn-4 span[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transition: all 0.3s ease;
}
.btn-4 span[b-b2osv66iin]:before {
    width: .1px;
    height: 0%;
}
.btn-4 span[b-b2osv66iin]:after {
    width: 0%;
    height: .1px;
}
.btn-4 span:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-4 span:hover[b-b2osv66iin]:after {
    width: 100%;
}

/* 5 */
.btn-5[b-b2osv66iin] {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover[b-b2osv66iin] {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
}
.btn-5[b-b2osv66iin]:before,
.btn-5[b-b2osv66iin]:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.btn-5[b-b2osv66iin]:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn-5:hover[b-b2osv66iin]:before,
.btn-5:hover[b-b2osv66iin]:after{
    width:100%;
    transition:800ms ease all;
}


/* 6 */
.btn-6[b-b2osv66iin] {
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-6 span[b-b2osv66iin] {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-6[b-b2osv66iin]:before,
.btn-6[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
            -1px -1px 20px 0px rgba(255,255,255,1),
            -4px -4px 5px 0px rgba(255,255,255,1),
            7px 7px 20px 0px rgba(0,0,0,.4),
            4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6[b-b2osv66iin]:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.btn-6[b-b2osv66iin]:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
.btn-6:hover[b-b2osv66iin]{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}
.btn-6:hover[b-b2osv66iin]:before {
    transition: all 500ms ease;
    height: 100%;
}
.btn-6:hover[b-b2osv66iin]:after {
    transition: all 500ms ease;
    height: 100%;
}
.btn-6 span[b-b2osv66iin]:before,
.btn-6 span[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    box-shadow:
            -1px -1px 20px 0px rgba(255,255,255,1),
            -4px -4px 5px 0px rgba(255,255,255,1),
            7px 7px 20px 0px rgba(0,0,0,.4),
            4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span[b-b2osv66iin]:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-6 span[b-b2osv66iin]:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-6 span:hover[b-b2osv66iin]:before {
    width: 100%;
}
.btn-6 span:hover[b-b2osv66iin]:after {
    width: 100%;
}

/* 7 */
.btn-7[b-b2osv66iin] {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-7 span[b-b2osv66iin] {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7[b-b2osv66iin]:before,
.btn-7[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7[b-b2osv66iin]:before{
    height: 0%;
    width: 2px;
}
.btn-7[b-b2osv66iin]:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover[b-b2osv66iin]{
    color: rgba(251,75,2,1);
    background: transparent;
}
.btn-7:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-7:hover[b-b2osv66iin]:after {
    width: 100%;
}
.btn-7 span[b-b2osv66iin]:before,
.btn-7 span[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
.btn-7 span[b-b2osv66iin]:before {
    width: 2px;
    height: 0%;
}
.btn-7 span[b-b2osv66iin]:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-7 span:hover[b-b2osv66iin]:after {
    width: 100%;
}

/* 8 */
.btn-8[b-b2osv66iin] {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-8 span[b-b2osv66iin] {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-8[b-b2osv66iin]:before,
.btn-8[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
}
.btn-8[b-b2osv66iin]:before{
    height: 0%;
    width: 2px;
}
.btn-8[b-b2osv66iin]:after {
    width: 0%;
    height: 2px;
}
.btn-8:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-8:hover[b-b2osv66iin]:after {
    width: 100%;
}
.btn-8:hover[b-b2osv66iin]{
    background: transparent;
}
.btn-8 span:hover[b-b2osv66iin]{
    color: #c797eb;
}
.btn-8 span[b-b2osv66iin]:before,
.btn-8 span[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
    transition: all 0.3s ease;
}
.btn-8 span[b-b2osv66iin]:before {
    width: 2px;
    height: 0%;
}
.btn-8 span[b-b2osv66iin]:after {
    height: 2px;
    width: 0%;
}
.btn-8 span:hover[b-b2osv66iin]:before {
    height: 100%;
}
.btn-8 span:hover[b-b2osv66iin]:after {
    width: 100%;
}


/* 9 */
.btn-9[b-b2osv66iin] {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}
.btn-9[b-b2osv66iin]:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
}
.btn-9:hover[b-b2osv66iin] {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
}
.btn-9:hover[b-b2osv66iin]:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/* 10 */
.btn-10[b-b2osv66iin] {
    background: rgb(22,9,240);
    background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}
.btn-10[b-b2osv66iin]:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
}
.btn-10:hover[b-b2osv66iin] {
    color: #fff;
    border: none;
    background: transparent;
}
.btn-10:hover[b-b2osv66iin]:after {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* 11 */
.btn-11[b-b2osv66iin] {
    border: none;
    background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover[b-b2osv66iin] {
    text-decoration: none;
    color: #fff;
}
.btn-11[b-b2osv66iin]:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover[b-b2osv66iin]{
    opacity: .7;
}
.btn-11:active[b-b2osv66iin]{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}


/* 12 */
.btn-12[b-b2osv66iin]{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}
.btn-12 span[b-b2osv66iin] {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.btn-12 span:nth-child(1)[b-b2osv66iin] {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2)[b-b2osv66iin] {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1)[b-b2osv66iin] {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2)[b-b2osv66iin] {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


/* 13 */
.btn-13[b-b2osv66iin] {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
}
.btn-13[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-13:hover[b-b2osv66iin] {
    color: #fff;
}
.btn-13:hover[b-b2osv66iin]:after {
    top: 0;
    height: 100%;
}
.btn-13:active[b-b2osv66iin] {
    top: 2px;
}

/* 15 */
.btn-15[b-b2osv66iin] {
    background: #b621fe;
    border: none;
    z-index: 1;
}
.btn-15[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn-15:hover[b-b2osv66iin] {
    color: #fff;
}
.btn-15:hover[b-b2osv66iin]:after {
    left: 0;
    width: 100%;
}
.btn-15:active[b-b2osv66iin] {
    top: 2px;
}


/* 16 */
.btn-16[b-b2osv66iin] {
    border: none;
    color: #000;
}
.btn-16[b-b2osv66iin]:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn-16:hover[b-b2osv66iin] {
    color: #000;
}
.btn-16:hover[b-b2osv66iin]:after {
    left: auto;
    right: 0;
    width: 100%;
}
.btn-16:active[b-b2osv66iin] {
    top: 2px;
}
/* _content/BlazorApp3/Pages/EditUser.razor.rz.scp.css */
#Border-Dotted[b-bq4t509pdd]{border: 2px dotted}
#Border-Solid[b-bq4t509pdd]{border: 1px solid}
#Border-Solid3px[b-bq4t509pdd]{border: 3px solid #1a1e21}
/* _content/BlazorApp3/Pages/Footer.razor.rz.scp.css */
footer[b-1mv1gcxori] {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 65px;
    position: relative;
    transform: translateY(100%);
    border-top:1px solid #333;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
/* _content/BlazorApp3/Pages/HomePage.razor.rz.scp.css */
#Border-Dotted[b-j1jpucb9qy]{border: 2px dotted}
#Border-Solid[b-j1jpucb9qy]{border: 1px solid}
#Border-Solid3px[b-j1jpucb9qy]{border: 3px solid #1a1e21}
#Text1Style[b-j1jpucb9qy]{font-size: 23px;color : #41464b}
#Text2Style[b-j1jpucb9qy]{font-size: 40px;color : #41464b}
#Text3Style[b-j1jpucb9qy]{font-size: 14px;color : #1b6ec2}
#Text4Style[b-j1jpucb9qy]{font-size: 20px;color : #157347}
#Text5Style[b-j1jpucb9qy]{font-size: 12px;color : #6f42c1}
#Text6Style[b-j1jpucb9qy]{font-size: 15px;color : #1c1f23}
#Text7Style[b-j1jpucb9qy]{font-size: 15px;color : #0f5132}
#table1[b-j1jpucb9qy], th[b-j1jpucb9qy], td[b-j1jpucb9qy]{
    border: 1px solid black;
    border-collapse: collapse;
}
#Text2Style[b-j1jpucb9qy]{font-size: 40px;color : #41464b}
#loading-screen[b-j1jpucb9qy] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}
#mat-progress-spinner[b-j1jpucb9qy] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html[b-j1jpucb9qy], body[b-j1jpucb9qy] {
    height: 100%
}

.wrapper[b-j1jpucb9qy] {
    height: auto;
    min-height: 100%;
    padding-bottom: 7px;
}

.home-container[b-j1jpucb9qy]{
    min-height: 900px;
}
/* _content/BlazorApp3/Pages/LoginPage.razor.rz.scp.css */
*[b-jkl3omc22p] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body[b-jkl3omc22p] {
    background: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.login-form[b-jkl3omc22p] {
    background: rgba(217, 241, 195, 0.24);
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1[b-jkl3omc22p] {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}
.login-form .content[b-jkl3omc22p] {
    padding: 35px;
    text-align: center;
}
.login-form .input-field[b-jkl3omc22p] {
    padding: 12px 5px;
}
.login-form .input-field input[b-jkl3omc22p] {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.login-form .input-field input[b-jkl3omc22p]::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input[b-jkl3omc22p]::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder[b-jkl3omc22p] {
    text-transform: uppercase;
}
.login-form .input-field input[b-jkl3omc22p]::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input[b-jkl3omc22p]::placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:focus[b-jkl3omc22p] {
    border-color: #222;
}
.login-form a.link[b-jkl3omc22p] {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}
.login-form .action[b-jkl3omc22p] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.login-form .action button[b-jkl3omc22p] {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.login-form .action button:hover[b-jkl3omc22p] {
    background: #d8d8d8;
}
.login-form .action button:nth-child(2)[b-jkl3omc22p] {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover[b-jkl3omc22p] {
    background: #3c4d6d;
}

html[b-jkl3omc22p], body[b-jkl3omc22p] {
    height: 100%
}

.wrapper[b-jkl3omc22p] {
    height: auto;
    min-height: 100%;
    padding-bottom: 7px;
}

.home-container[b-jkl3omc22p]{
    min-height: 1000px;
}
/* _content/BlazorApp3/Pages/MatchHistoryPage.razor.rz.scp.css */
#Border-Dotted[b-pxsio5fims]{border: 2px dotted}
#Border-Solid[b-pxsio5fims]{border: 1px solid}
#Border-Solid3px[b-pxsio5fims]{border: 3px solid #1a1e21}
#Text1Style[b-pxsio5fims]{font-size: 23px;color : #41464b}
#Text2Style[b-pxsio5fims]{font-size: 40px;color : #41464b}
#Text3Style[b-pxsio5fims]{font-size: 14px;color : #1b6ec2}
#Text4Style[b-pxsio5fims]{font-size: 20px;color : #157347}
#Text5Style[b-pxsio5fims]{font-size: 12px;color : #6f42c1}
#Text6Style[b-pxsio5fims]{font-size: 15px;color : #1c1f23}
#Text7Style[b-pxsio5fims]{font-size: 15px;color : #0f5132}
#table1[b-pxsio5fims], th[b-pxsio5fims], td[b-pxsio5fims]{
    border: 1px solid black;
    border-collapse: collapse;
}

html[b-pxsio5fims], body[b-pxsio5fims] {
    height: 100%
}

.wrapper[b-pxsio5fims] {
    height: auto;
    min-height: 100%;
    padding-bottom: 7px;
}

.home-container[b-pxsio5fims]{
    min-height: 900px;
}
/* _content/BlazorApp3/Pages/RankingPage.razor.rz.scp.css */
#Border-Dotted[b-86gspctuc0]{border: 2px dotted}
#Border-Solid[b-86gspctuc0]{border: 1px solid}
#Border-Solid3px[b-86gspctuc0]{border: 3px solid #1a1e21}
#Text1Style[b-86gspctuc0]{font-size: 23px;color : #41464b}
#Text2Style[b-86gspctuc0]{font-size: 40px;color : #41464b}
#Text3Style[b-86gspctuc0]{font-size: 14px;color : #1b6ec2}
#Text4Style[b-86gspctuc0]{font-size: 20px;color : #157347}
#Text5Style[b-86gspctuc0]{font-size: 12px;color : #6f42c1}
#Text6Style[b-86gspctuc0]{font-size: 15px;color : #1c1f23}
#Text7Style[b-86gspctuc0]{font-size: 15px;color : #0f5132}
#table1[b-86gspctuc0], th[b-86gspctuc0], td[b-86gspctuc0]{
    border: 1px solid black;
    border-collapse: collapse;
}
#Text2Style[b-86gspctuc0]{font-size: 40px;color : #41464b}
#loading-screen[b-86gspctuc0] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
}
#mat-progress-spinner[b-86gspctuc0] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html[b-86gspctuc0], body[b-86gspctuc0] {
    height: 100%
}

.wrapper[b-86gspctuc0] {
    height: auto;
    min-height: 100%;
    padding-bottom: 7px;
}

.home-container[b-86gspctuc0]{
    min-height: 900px;
}
/* _content/BlazorApp3/Pages/SearchUserPage.razor.rz.scp.css */
#Border-Dotted[b-i5ov1uz8as]{border: 2px dotted}
#Border-Solid[b-i5ov1uz8as]{border: 1px solid}
#Border-Solid3px[b-i5ov1uz8as]{border: 3px solid #1a1e21}

.TextStyle2[b-i5ov1uz8as] {
    color: #ffffff;
    text-shadow: 2px 2px 0px #bdbdbd;
}

.TextStyle3[b-i5ov1uz8as] { font-family: fantasy; }

body[b-i5ov1uz8as] {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header[b-i5ov1uz8as] {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav[b-i5ov1uz8as] {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul[b-i5ov1uz8as] {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li[b-i5ov1uz8as] {
    display: inline;
    margin-right: 20px;
}

nav a[b-i5ov1uz8as] {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main[b-i5ov1uz8as] {
    padding: 20px;
}

.featured[b-i5ov1uz8as] {
    background-color: #f8f8f8;
    padding: 20px;
}

.content[b-i5ov1uz8as] {
    margin-top: 20px;
}



footer[b-i5ov1uz8as] {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 97%;
}
.content[b-i5ov1uz8as] {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-container[b-i5ov1uz8as] {
    margin-top: 20px; /* Adjust the margin as needed */
}

html[b-i5ov1uz8as], body[b-i5ov1uz8as] {
    height: 100%
}

.wrapper[b-i5ov1uz8as] {
    height: auto;
    min-height: 100%;
    padding-bottom: 7px;
}

.home-container[b-i5ov1uz8as]{
    min-height: 900px;
}

/* _content/BlazorApp3/Pages/SoloRankBattle.razor.rz.scp.css */
#Border-Dotted[b-8nfo0tw6cx]{border: 2px dotted}
#Border-Solid[b-8nfo0tw6cx]{border: 1px solid}
#Border-Solid3px[b-8nfo0tw6cx]{border: 3px solid #1a1e21}
/* _content/BlazorApp3/Pages/Test.razor.rz.scp.css */
.cd__main[b-0ets44o0yo]{
    background: linear-gradient(to right, #ffffff, #2d0b55) !important;
    min-height: 720px;
}
body[b-0ets44o0yo] {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #2d0b55);
}
.menu ul[b-0ets44o0yo] {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -80px;
}
li[b-0ets44o0yo] {
    list-style: none;
}
.menu a[b-0ets44o0yo] {
    position: relative;
    text-decoration: none;
    width: 180px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
}
.menu a:last-child[b-0ets44o0yo] {
    margin-left: 50px;
}
.menu a svg[b-0ets44o0yo],
.menu a svg rect[b-0ets44o0yo] {
    position: absolute;
    left: -25px;
    width: 120px;
    height: 50px;
    fill: transparent;
}
.menu a svg rect[b-0ets44o0yo] {
    stroke: #fff;
    stroke-width: 3;
    transition: 0.8s;
    stroke-dasharray: 70, 402;
    stroke-dashoffset: 280;
}
.menu a:hover svg rect[b-0ets44o0yo] {
    stroke-dasharray: 500, 500;
    stroke-dashoffset: 0;
    stroke: #00c3ff;
    fill: rgba(0, 250, 255, 0.2);
    color: #fff;
}

.nav-link[b-0ets44o0yo] {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.nav-link svg rect[b-0ets44o0yo] {
    fill: black;
    width: 50px; /* Adjust the width as needed */
    height: 2px; /* Adjust the height as needed */
    /*margin-left: 10px; !* Adjust the margin as needed *!*/
    vertical-align: middle;
}
/* _content/BlazorApp3/Shared/MainLayout.razor.rz.scp.css */
#Border-Dotted[b-uah1rvq9fm]{border: 2px dotted}
#Border-Solid[b-uah1rvq9fm]{border: 1px solid}
#Border-Solid3px[b-uah1rvq9fm]{border: 3px solid #1a1e21}
#Text1Style[b-uah1rvq9fm]{font-size: 23px;color : #41464b}
#Text2Style[b-uah1rvq9fm]{font-size: 40px;color : #41464b}

.page[b-uah1rvq9fm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-uah1rvq9fm] {
    flex: 1;
}

.sidebar[b-uah1rvq9fm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.topBar[b-uah1rvq9fm] {
    background-color: #333; /* Example background color */
    color: white; /* Example text color */
    padding: 10px;
    text-align: center;
}

.top-row[b-uah1rvq9fm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-uah1rvq9fm]  a, .top-row .btn-link[b-uah1rvq9fm] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-uah1rvq9fm] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-uah1rvq9fm] {
        display: none;
    }

    .top-row.auth[b-uah1rvq9fm] {
        justify-content: space-between;
    }

    .top-row a[b-uah1rvq9fm], .top-row .btn-link[b-uah1rvq9fm] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-uah1rvq9fm] {
        flex-direction: row;
    }

    .sidebar[b-uah1rvq9fm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-uah1rvq9fm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-uah1rvq9fm], article[b-uah1rvq9fm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp3/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z3lckddl0i] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z3lckddl0i] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z3lckddl0i] {
    font-size: 1.1rem;
}

.oi[b-z3lckddl0i] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-z3lckddl0i] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z3lckddl0i] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z3lckddl0i] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z3lckddl0i]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z3lckddl0i]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z3lckddl0i]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z3lckddl0i] {
        display: none;
    }

    .collapse[b-z3lckddl0i] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-z3lckddl0i] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
