@inherits LayoutComponentBase

<div class="container-fluid p-0">
    <NavMenu />

    <div class="content">
        @Body
    </div>

    <footer class="footer">
        <div class="container text-center">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <hr/>
            <p>&copy; 2024 Your Company</p>
            <br>
        </div>
    </footer>
</div>

@code {
    // Optional: Add any layout-specific code here
}