@inherits LayoutComponentBase

<PageTitle>LOL</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <h3 id="Text1Style">롤 5:5 가즈앗</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>