<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Menu</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SearchUser">
                <span class="oi oi-home" aria-hidden="true"></span> 유저 검색
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DivideTeam">
                <span class="oi oi-account-login" aria-hidden="true"></span> 팀 짜기
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MatchHistory">
                <span class="oi oi-clock" aria-hidden="true"></span> 매치 기록
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ranking">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 랭킹
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EditUser">
                <span class="oi oi-audio" aria-hidden="true"></span> 유저 정보 수정
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}