<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Website</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<nav>
  <ul>
    <li><a href="">홈</a></li>
    <li><a href="UserManager">멤버 검색</a></li>
    <li><a href="DivideTeam">팀 나누기</a></li>
    <li><a href="MatchHistory">매칭 전적</a></li>
    <li><a href="Ranking">랭킹</a></li>
  </ul>
</nav>
<header>
    <h1 class="TextStyle2">@HeaderText</h1>
</header>

</body>
</html>
@inject NavigationManager NavigationManager
@code {
  private string HeaderText { get; set; } = "DivideTeam";

  protected override void OnInitialized()
  {
    UpdateHeaderText();
  }

  private void UpdateHeaderText()
  {
    string currentUrl = NavigationManager.Uri;

    string[] stringArray = currentUrl.Split(new char[] {'/'});
    HeaderText = stringArray.Last();

      if (HeaderText == "UserManager")
        HeaderText = "멤버 검색";
      if (HeaderText == "DivideTeam")
        HeaderText = "팀 나누기";
      if (HeaderText == "MatchHistory")
        HeaderText = "매칭 전적";
      if (HeaderText == "Ranking")  
        HeaderText = "랭킹";  
      if(HeaderText == "Home")
        HeaderText = "홈";
    
    StateHasChanged();
  }
}
