@page "/"
@using BlazorApp3.Protocol


<PageTitle>랭킹</PageTitle>
<DisplayPage/>
<div class="wrapper">
    <div class="home-container">
	
        <p>내전 팀짜기 프로그램 입니다!</p>
        

    </div>
</div>

<Footer></Footer>
