@page "/HomeIsHere"
@using BlazorApp3.Protocol


<PageTitle>랭킹</PageTitle>
<DisplayPage/>
<div class="wrapper">
    <div class="home-container">
	
        <p>내전 팀짜기 프로그램 입니다!</p>
        <p>맨처음 클럽 검색, 추천 클럽 보여주기, 클럽 랭킹 보여주기 그리고 오른쪽에는 로그인할수있게. 로그인하면 내가 관리 가능한 클럽들 나옴
            , 검색해서 페이지들어가면 왼쪽상단에 검색바 추가하기. 오른쪽상단에는 로그인메뉴</p>
        <p>유저 검색해서 그 유저 정보만 확인가능 (승/패 전적, 같은팀이였을때 승률)</p>

    </div>
</div>

<Footer></Footer>
