@page "/Login"
@using System.Security.Principal
@using BlazorApp3.Common.Type

<div class="wrapper">
    <div class="home-container">
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
@*<img src="welcomeImage.jpg" alt="Example Image" style="width: 370px; height: 210px;" />*@
<div class="login-form">
    <form>
        @if (isRegister)
        {
            <h1>Register</h1>
            <div class="content">
                <div class="input-field">
                    <input type="email" placeholder="Email" autocomplete="nope" @bind="loginInfo.Email">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" autocomplete="new-password" @bind="loginInfo.Password">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="ReEnter Password" autocomplete="new-password" @bind="reEnterPassword">
                </div>
            </div>
            <div class="action">
                <button type="button" @onclick="RegisterBtnAsync">Sign Up</button>
            </div>
        }
        else
        {
            <h1>Login</h1>
            <div class="content">
                <div class="input-field">
                    <input type="email" placeholder="Email" autocomplete="nope" @bind="loginInfo.Email">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Password" autocomplete="new-password" @bind="loginInfo.Password">
                </div>
                <a href="#" class="link">Forgot Your Password?</a>
            </div>
            <div class="action">
                <button type="button" @onclick="NeedToRegisterBtn">Register</button>
                <button type="button" class="link" @onclick="NavigateToInitPage">Sign in</button>
            </div>
        }
    </form>
</div>

</body>
</html>
	</div>
</div>

<Footer></Footer>
