.custom-mudpaper {
    margin-top: 0; /* Remove margin at the top */
    padding-top: 0; /* Remove padding at the top */
}

.custom-container {
    padding: 0; /* Remove padding from the container */
    margin: 0; /* Remove margin from the container */
}
