@page "/Test"
@using System.Security.Principal

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <!-- Style CSS -->
      <link rel="stylesheet" href="./css/style.css">
      <!-- Demo CSS (No need to include it into your project) -->
      <link rel="stylesheet" href="./css/demo.css">
      
   </head>
   <body>
      <header class="cd__intro">
         <div class="cd__action">
            <a href="https://www.codehim.com/menu-nav/horizontal-menu-bar-in-html-with-hover-effect" title="Back to download and tutorial page" class="cd__btn back"></a>
         </div>
      </header>
      <!--$%adsense%$-->
      <main class="cd__main">
         <!-- Start DEMO HTML (Use the following code into your project)-->
         <div class="menu">
        <ul>
            <li>
                <a href="" class="nav-link">
                    <svg>
                        <rect></rect>
                    </svg>
                    home
                </a>
            </li>
            <li>
                <a href="" class="nav-link">
                    <svg>
                        <rect></rect>
                    </svg>
                    about
                </a>
            </li>
            <li>
                <a href="" class="nav-link">
                    <svg>
                        <rect></rect>
                    </svg>
                    social
                </a>
            </li>
            <li>
                <a href="" class="nav-link">
                    <svg>
                        <rect></rect>
                    </svg>
                    login
                </a>
            </li>
        </ul>
    </div>
      </main>
   </body>
</html>