@page "/UserAdd"
@using BlazorApp3.Common.Type
@using BlazorApp3.Common.Manager

<PageTitle>유저 추가하기</PageTitle>

<table id="Border-Solid" class="table table-border table-hover w-auto">
    <thead>
    <tr class="table-primary">
        <th>새로 추가할 닉네임</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="text" size="20" @bind="@NickName"> <button type="submit" class="btn btn-info" @onclick="@InsertAsyncBtn">추가</button></td>
    </tr>
    </tbody>
</table>


@code
{
    public string NickName = String.Empty;

    public async Task InsertAsyncBtn()
    {
        var userInfo = await AccountDB.GetUserInfoAsync(NickName);

        if (userInfo != null)
        {
            return;
        }

        await UserAddManager.SetNewUserAsync(NickName);
        NickName = String.Empty;
    }
}
@*@code
{
    async Task OpenAlertFromService()
    {
        await MatDialogService.AlertAsync("이미 존재하는 닉네임입니다!");
    }
}*@
