#Border-Dotted[b-pxsio5fims]{border: 2px dotted}
#Border-Solid[b-pxsio5fims]{border: 1px solid}
#Border-Solid3px[b-pxsio5fims]{border: 3px solid #1a1e21}
#Text1Style[b-pxsio5fims]{font-size: 23px;color : #41464b}
#Text2Style[b-pxsio5fims]{font-size: 40px;color : #41464b}
#Text3Style[b-pxsio5fims]{font-size: 14px;color : #1b6ec2}
#Text4Style[b-pxsio5fims]{font-size: 20px;color : #157347}
#Text5Style[b-pxsio5fims]{font-size: 12px;color : #6f42c1}
#Text6Style[b-pxsio5fims]{font-size: 15px;color : #1c1f23}
#Text7Style[b-pxsio5fims]{font-size: 15px;color : #0f5132}
#table1[b-pxsio5fims], th[b-pxsio5fims], td[b-pxsio5fims]{
    border: 1px solid black;
    border-collapse: collapse;
}

